.anim__cubic-1 {
  animation: 12.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.2s infinite alternate
    none running cubic-1;
}

@keyframes cubic-1 {
  0% {
    transform: none;
  }

  25% {
    transform: translate3d(0px, -3.5%, 0px);
  }

  50% {
    transform: translate3d(-2%, 0px, 0px);
  }

  75% {
    transform: translate3d(0px, -3.5%, 0px);
  }

  100% {
    transform: translate3d(2%, 0px, 0px);
  }
}

[data-anime] {
  opacity: 0;
}

[data-anime="left"] {
  transform: translate3d(-130px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(130px, 0, 0);
}

[data-anime="up"] {
  transform: translate3d(0, 150px, 0);
}

[data-anime="down"] {
  transform: translate3d(0, -150px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 3s;
}

.firstTargetLeft {
  opacity: 0;
  transform: translate3d(-150px, 0, 0);
}

.firstTargetRight {
  opacity: 0;
  transform: translate3d(0, 150px, 0);
}

.firstTargetLeft.left {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 3s;
}

.firstTargetRight.down {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 3s;
}

.teste {
}
