.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  padding: 130px 30px;
}

.button {
  display: inline-block;
  border-radius: 40px;
  transition: 0.3s;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.padding-link {
  padding: 0.5rem 0;
}

.padding-30 {
  padding: 30px;
}

@media (max-width: 550px) {
  .content {
    padding: 80px 30px;
  }

  .gap-30 {
    gap: 20px;
  }
}
