body {
  margin: 0px;
  padding: 0px;
  background: var(--cor-bg);
  position: relative;
}

h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.detail__blur-right {
  width: 550px;
  height: 550px;
  background: rgba(106, 140, 249, 0.2);
  border-radius: 50%;
  filter: blur(136px);
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 250px;
}

.detail__blur-top {
  width: 550px;
  height: 550px;
  background: rgba(106, 140, 249, 0.2);
  border-radius: 50%;
  filter: blur(136px);
  position: absolute;
  z-index: -1;
  left: 350px;
  top: -550px;
}

@media (max-width: 950px) {
  .detail__blur-right {
    display: none;
  }

  .detail__blur-top {
    display: none;
  }
}
