.font__links {
  font: 600 1.25rem/1.5 "Outfit", sans-serif;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

.font__h1 {
  font: 700 4.375rem/1.4 "Outfit", sans-serif;
  text-transform: uppercase;
}

.font__p {
  font: 400 1.125rem/1.4 "Outfit", sans-serif;
}

.font__h1-sub {
  font: 600 2rem/1.4 "Outfit", sans-serif;
}

.font__p-sub {
  font: 400 1.5rem/1.4 "Outfit", sans-serif;
}

.font__button {
  font: 400 1.125rem/1.4 "Roboto", sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.font__lang {
  font: 600 1.75rem/1.4 "Outfit", sans-serif;
}

.font__generic {
  font: 400 0.875rem/1.4 "Roboto", sans-serif;
}

@media (max-width: 550px) {
  .font__h1 {
    font-size: 2rem;
    line-height: 1.4;
  }

  .font__p {
    font-weight: 400;
  }

  .font__h1-sub {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .font__p-sub {
    font-size: 1rem;
    line-height: 1.4;
  }
}
