.hero__main-h1 {
  text-transform: uppercase;
  max-width: 10ch;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 120px 30px;
}

.hero__main {
  display: grid;
  align-content: center;
  align-self: center;
  gap: 30px;
}

.hero__main-p {
  max-width: 38ch;
}

.hero__main-button {
  display: flex;
  gap: 20px;
  margin: -2px;
}

.hero__perfil {
  display: flex;
  justify-content: center;
}

.hero__button-bold {
  background: var(--cor-1);
  padding: 0.625rem 3.375rem;
  display: inline-block;
  border-radius: 40px;
  transition: 0.3s;
}

.hero__button-bold:hover {
  background: var(--cor-2);
}

.hero__button-border {
  border: 1px solid var(--cor-1);
  padding: 0.562rem 1.125rem;
  display: inline-block;
  border-radius: 40px;
  transition: 0.3s;
}

.hero__button-border:hover {
  border-color: var(--cor-2);
}

@media (max-width: 950px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero__main {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .hero__main-h1 {
    max-width: max-content;
  }

  .hero {
    padding: 80px 30px;
    gap: 100px;
  }

  .hero__main {
    gap: 20px;
  }

  .btn__remove {
    display: none;
  }
}
