.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero__main-h1 {
  max-width: 10ch;
}

.hero__main {
  display: grid;
  align-content: center;
  align-self: center;
}

.hero__main-p {
  max-width: 38ch;
}

.hero__main-button {
  margin: -2px;
}

.hero__button-bold {
  background: var(--cor-1);
  padding: 0.625rem 3.375rem;
}

.hero__button-bold:hover {
  background: var(--cor-2);
}

.hero__button-border {
  border: 1px solid var(--cor-1);
  padding: 0.562rem 1.125rem;
}

.hero__button-border:hover {
  border-color: var(--cor-2);
}

.hero__perfil {
  justify-content: center;
}

@media (max-width: 950px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero__main {
    justify-content: center;
    justify-items: center;
  }

  .hero__main-h1,
  .hero__main-p {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .hero {
    gap: 80px;
  }

  .remove {
    display: none;
  }
}
