.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  gap: 100px;
}

.header__nav-a {
  padding: 0.5rem 0;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  gap: 30px;
}

.header__nav-mobile {
  display: none;
}

@media (max-width: 950px) {
  .header__nav {
    display: none;
  }
  .header__nav-mobile {
    display: block;
  }
}
