.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  gap: 50px;
}

.header__nav-a {
  padding: 0.5rem 0;
  text-transform: uppercase;
  transition: 0.3s;
}

.header__nav-a:hover {
  color: var(--cor-1);
}

.header__nav {
  display: flex;
  gap: 30px;
}

.header__nav-mobile {
  display: none;
}

.menu__mobile-container li a {
  width: initial;
}
@media (max-width: 950px) {
  .header__nav-a {
    display: none;
    width: 0;
  }
  .menu__mobile {
    display: block;
  }
  div .header__nav-a {
    display: block;
  }
}

@media (max-width: 550px) {
  .header {
    padding: 15px;
  }
}
