.header {
  justify-content: space-between;
  align-items: center;
}

.header__nav-a {
  transition: 0.3s;
}

.header__nav-a:hover {
  color: var(--cor-1);
}

@media (max-width: 950px) {
  .header__nav-a {
    display: none;
  }
  .menu__mobile {
    display: block;
  }
  div .header__nav-a {
    display: block;
  }
}

@media (max-width: 550px) {
  .header {
    padding: 1rem;
  }
}
