.rodape {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.rodape__bg {
  background: linear-gradient(180deg, rgba(88, 55, 158, 0.04) 0%, #1d1235 100%);
  padding: 30px;
}

.rodape__redes {
  display: grid;
  gap: 30px;
  justify-items: start;
}

.rodape__redes-list {
  display: flex;
  gap: 10px;
}

.rodape__title {
  text-transform: uppercase;
  padding: 0.5rem 0;
}

.rodape__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
