.rodape {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.rodape__bg {
  background: linear-gradient(180deg, rgba(88, 55, 158, 0.04) 0%, #1d1235 100%);
  padding: 30px;
}

.rodape__redes {
  display: grid;
  gap: 30px;
  justify-items: start;
}

.rodape__redes-list {
  display: flex;
  gap: 10px;
}

.rodape__title {
  text-transform: uppercase;
  padding: 0.5rem 0;
}

.rodape__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.rodape__button {
  display: flex;
  gap: 10px;
  background: var(--cor-1);
  align-items: center;
  padding: 1rem 1.2rem;
  border-radius: 40px;
  transition: 0.3s;
}

.rodape__button:hover {
  background: var(--cor-2);
}

.rodape__cv {
  display: flex;
  flex-direction: column;
  place-items: start;
  gap: 20px;
}

.rodape__detail {
  background: linear-gradient(
    180deg,
    #6a8cf9 0%,
    rgba(166, 113, 242, 0.557292) 54.17%,
    rgba(242, 80, 233, 0) 100%
  );

  height: 10px;
}

@media (max-width: 950px) {
  .rodape {
    grid-template-columns: 1fr;
  }

  .rodape__menu {
    grid-template-columns: 1fr;
  }
}
